body {
	font-family: "Source Sans Pro", "Open Sans", Cantarell, Helvetica, sans-serif;
	font-size: .9rem;
	margin: 1rem;
	background: darkblue;
	color: darkblue;
}

h1 {
	font-size: 16vw;
	text-align: center;
	color: linen;
}

h2 {
	font-size: 1rem;
	text-align: center;
	color: linen;
}

form.form {
	background: ghostwhite;
	padding: .5rem;
	border-radius: 1rem;
	border: .125rem solid MediumSlateBlue;
}

fieldset.group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	padding: 1rem;
	border-radius: 1rem;
	border: .125rem solid MediumSlateBlue;
	
}
legend.group {
	font-size: 1.75rem;
	font-weight: bold;
}

fieldset.subgroup {
	flex: 1;
	min-width: 15em;
	margin: 0.5rem;
	border-radius: 1rem;
	border: .125rem solid MediumSlateBlue;

}

legend.subgroup {
	font-size: 1.25rem;
	font-weight: bold;
}

div.item {
	line-height: 2rem;
	vertical-align: middle;
}

input[type="checkbox"] {
	vertical-align: middle;
}

input[type="text"] {
	text-align: right;
	float: right;
}

input[type="submit"] {
	display: block;
	margin: 1rem auto;
	
}

label {

}
